body{
    font-family: Consolas, Serif;
}
.container-global{
    position: relative;
    top: 70px;
    padding: 1em;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(63, 3, 76, 0.85);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #09015B;
}